:root{
    --linear-gradiant:linear-gradient(to left,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.container{
    width: 100%;
    margin-block-start: 2.5rem;
    margin-block-end: 2.5rem;
    padding:1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media (min-width:48rem) {
    .container{
        flex-direction: row;
    }
}
/* small
@media (min-width:48rem) {
    .container{
        width: 46.875rem;
    }
}
/*medium
@media (min-width:62rem) {
    .container{
        width: 60.625rem;
    }
}
/*large
@media (min-width:75rem) {
    .container{
        width: 73.125rem;
        margin-inline-start: auto;
    }
} */
body{
    position: relative;
    background-color: #E9E6E6;
}
body::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 80%;
    background-image: var(--linear-gradiant);
    top: 0;
    left: -7.5rem;
    z-index: -1;
    border-radius:0 0 10rem 10rem;
    -webkit-border-radius:0 0 10rem 10rem;
    -moz-border-radius:0 0 10rem 10rem;
    -ms-border-radius:0 0 10rem 10rem;
    -o-border-radius:0 0 10rem 10rem;
}
@media (min-width:48rem) {

    body::after{
        width: 40%;
        left: 0;
        border-radius:0 0 15rem 15rem ;
        -webkit-border-radius:0 0 15rem 12.5rem ;
        -moz-border-radius:0 0 15rem 12.5rem ;
        -ms-border-radius:0 0 15rem 12.5rem ;
        -o-border-radius:0 0 15rem 12.5rem ;
}
}
body::before{
    content: "";
    display: none;
    position: absolute;
    width: 40%;
    height: 80%;
    background-color: hsl(270, 20%, 96%);
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 12.5rem 0 0 0;
    -webkit-border-radius: 12.5rem 0 0 0;
    -moz-border-radius: 12.5rem 0 0 0;
    -ms-border-radius: 12.5rem 0 0 0;
    -o-border-radius: 12.5rem 0 0 0;
}
@media (min-width:62rem) {
    body{
        height: 100vh;
    }
    body::before{
        display: block;
    }
    .container{
        justify-content: space-around;
    }
}
.phone{
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    min-height: 35.5rem;
    padding: 0.625rem;
    background-color:hsl(0, 0%, 100%);
    width: 18.75rem;
    font-size: 0.625rem;
    position: relative;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
@media (min-width:62rem) {
    .phone{
        margin-inline-start: auto;
        margin-inline-end: 5.5rem;
    }
}
.phone-frame{
    background-color: hsl(270, 20%, 96%);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.phone-frame::after{
    content: "";
    position: absolute;
    width: 8rem;
    height: 1.5rem;
    background-color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 3.5rem;
    -webkit-border-radius: 3.5rem;
    -moz-border-radius: 3.5rem;
    -ms-border-radius: 3.5rem;
    -o-border-radius: 3.5rem;
}
.phone-frame .header{
    background-image: var(--linear-gradiant);
    border-radius: 1.5rem 1.5rem 0.3125rem 0.3125rem;
    -webkit-border-radius: 1.5rem 1.5rem 0.3125rem 0.3125rem;
    -moz-border-radius: 1.5rem 1.5rem 0.3125rem 0.3125rem;
    -ms-border-radius: 1.5rem 1.5rem 0.3125rem 0.3125rem;
    -o-border-radius: 1.5rem 1.5rem 0.3125rem 0.3125rem;
}
.phone-frame .head-container{
    display: flex;
    padding: 1.5rem 1rem 0.625rem 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.phone-frame .head-container img{
    display: block;
    margin-inline-start: 0.625rem;
    margin-inline-end: 0.625rem;
    width: 1.87rem;
    border:0.0625rem solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.phone-frame .head-container .info{
    color: hsl(276, 100%, 81%);
}
.phone-frame .head-container .info h1{
    color: white;
}
.phone-frame .head-container i {
    color: white;
    display: block;
}
.head-container i:last-of-type{
    flex:1;
    justify-content: end;
    display: flex;
}
.msgs{
    padding: 0.625rem;
    display: flex;
    flex-wrap: wrap;
}
.msg{
    width: 60%;
    margin-block-end: 0.625rem;
    border-radius: 0.625rem;
    padding: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}
.msgs .imgs img{
    width: 2.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.left{
    color: hsl(276, 55%, 52%);
    background-color:hsl(276, 36%, 95%);
    align-self: flex-start;
}
.right:not(.imgs){
    background-color: white;
    box-shadow: 0 0 0.625rem #E9E6E6;
}
.right{
   margin-inline-start: auto;
}
.type-msg{
    padding: 0.625rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
}
.type-msg i{
    position: absolute;
    right: 0.1875rem;
    top: 50%;
    color: hsl(271, 36%, 24%);
    transform: translateY(-50%);
    font-size: 1.5rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.colored{
    color: white;
    display: flex;
    flex-direction: row;
    width: 70%;
    background-image: linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%) );
    text-align: center;
    justify-content: space-between;
}
.colored .time{
    display: flex;
}
.colored .circle{
    margin-inline-end: 0.625rem;
    width: 0.625rem;
    height: 0.625rem;
    border: 0.0625rem solid hsl(289, 100%, 72%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.colored .price{
    font-weight: 900;
}
.type-msg .type{
    color:  hsl(206, 6%, 79%);
    width: 100%;
}
.simple{
    width: 40%;
    margin-block-start: 3.5rem;
}
.simple .simple-container{
    text-align: center;
}
.simple-container h1{
    color:hsl(271, 36%, 24%);
    margin-block-end: 1.5rem;
    font-weight: 500;
}
.simple-container .content{
    color: hsl(270, 7%, 64%);
    line-height: 1.7;
}
@media (min-width:48rem) {
    .simple{
        /* margin-block-start: auto;
        margin-block-end: auto;
       margin-inline-end: auto;
       margin-inline-start: 5.5rem; */
       margin-inline-start: 3.5rem;
       margin-inline-end: 4.5rem;
    }
    .simple .simple-container{
        text-align: left;
        width: 25rem;
    }
    .simple .simple-container h1{
        font-size: 2rem;
    }
}
.attribution{
    color: hsl(271, 36%, 24%);
}
.attribution a{
    text-decoration: none;
    color: hsl(264, 100%, 61%);
}
